@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Greater Theory';
  src: url('./fonts/GreaterTheory.otf') format('opentype'),
}

@font-face {
  font-family: 'Nexa Light';
  src: url('./fonts/NexaLight.otf') format('opentype'),
}

* {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

body {
    background-color: black;
    margin: 0;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.nav .index {
    display: flex;
    gap: 30px;
}


.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #1cd30c;
    cursor: pointer;
    transition: all 0.5s;
}

.nav img {
    width: 120px;
}

.join-us {
    background-color: black;
    color: white;
    border: 2px solid #1cd30c; 
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
}

.join-us:hover{
    color: #1cd30c;
    transition: all 0.5s;
}

.line {
    background-color: #1cd30c;
    height: 2px;
}

.main {
    background-image: url("/img/background.jpg");
    background-position: center center;
    background-size: max(1800px, 100vw);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.main .box {
  height: 90vh;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  background-color: black;
}

.main .heading {
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0px 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main .heading> :nth-child(1) {
    font-size: 8rem;
    letter-spacing: 0.5rem;
    text-align: center;
    font-family: 'Greater Theory', sans-serif;
}

.main .heading> :nth-child(2) {
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  text-align: center;
  font-family: 'Nexa Light', sans-serif;
}
